vamtiger-cover-figure,
vamtiger-cover-figure figure,
vamtiger-cover-figure figcaption,
vamtiger-cover-figure header,
vamtiger-cover-figure h5
{
    margin: 0;
    padding: 0;
}

vamtiger-cover-figure::before
{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

vamtiger-cover-figure [slot="vamtiger-cover-figure"],
vamtiger-cover-figure [data-overlay],
vamtiger-cover-figure [slot="caption"],
vamtiger-cover-figure [slot="caption"] [data-icon-figure]
{
    position: relative;
}

vamtiger-cover-figure figure,
vamtiger-cover-figure figcaption,
vamtiger-cover-figure [slot="center-caption"] [data-caption-text],
vamtiger-cover-figure[data-center-caption-uppercase][data-center-caption-hashtag] [slot="center-caption"] [data-caption-text]:before
{
    display: inline-block;
}

vamtiger-cover-figure [slot="vamtiger-cover-figure"],
vamtiger-cover-figure [slot="dark-overlay"],
vamtiger-cover-figure [slot="caption"][data-image-caption]
{
    animation: vamtiger-cover-figure-fade-out 0ms linear forwards;

}

vamtiger-cover-figure [slot="vamtiger-cover-figure"],
vamtiger-cover-figure [slot="dark-overlay"]
{
    visibility: hidden;
}

vamtiger-cover-figure[data-loaded] [slot="vamtiger-cover-figure"],
vamtiger-cover-figure[data-loaded] [slot="dark-overlay"]
{
    visibility: visible;
    animation: vamtiger-cover-figure-fade-in 275ms linear forwards;
}

vamtiger-cover-figure[data-loaded] [slot="caption"]
{
    visibility: hidden;
}

vamtiger-cover-figure[data-loaded] [slot="caption"][data-image-caption][data-loaded]
{
    visibility: visible;
    animation:
        vamtiger-cover-figure-fade-in 275ms linear forwards,
        vamtiger-cover-figure-slide-in 175ms linear forwards;
}

vamtiger-cover-figure [slot="vamtiger-cover-figure"],
vamtiger-cover-figure [slot="template"],
vamtiger-cover-figure [slot="center-caption"],
vamtiger-cover-figure [data-overlay]
{
    grid-column: 1;
    grid-row: 1;
}

vamtiger-cover-figure [slot="vamtiger-cover-figure"],
vamtiger-cover-figure [slot="vamtiger-cover-figure"] > img,
vamtiger-cover-figure [slot="template"],
vamtiger-cover-figure [data-overlay]
{
    width: 100%;
    height: 100%;
}

vamtiger-cover-figure [slot="vamtiger-cover-figure"] > img,
vamtiger-cover-figure [slot="caption"] [data-icon] {
    width: 100%;
    max-height: 100%;
}

vamtiger-cover-figure [slot="vamtiger-cover-figure"] > img
{
    display: inline-block;
    object-fit: cover;

    z-index: 0;
}

vamtiger-cover-figure [data-overlay]
{
    z-index: 1;
}

vamtiger-cover-figure [slot="template"]
{
    z-index: 2;
}

vamtiger-cover-figure [slot="caption"]
{
    z-index: 3;

    position: absolute;
    left: 0;
    bottom: 0;

    display: grid;
    grid-template-areas:
        "icon title"
        "icon subtitle";
    grid-column-gap: 0.7em;
    grid-row-gap: 0.2em;
    padding: 0 0 10px 10px;

    color: white;

    letter-spacing: 0.04em;
}

vamtiger-cover-figure [slot="center-caption"]
{
    z-index: 4;

    display: grid;
    justify-content: center;
    align-items: center;

    color: white;

    font-size: 2em;
}

vamtiger-cover-figure[data-center-caption-uppercase] [slot="center-caption"]
{
    text-transform: uppercase;
}

vamtiger-cover-figure[data-center-caption-uppercase][data-center-caption-hashtag] [slot="center-caption"] [data-caption-text]:before
{
    content: "#";
}

vamtiger-cover-figure [slot="caption"] [data-icon-figure] {
    grid-area: icon;

    display: grid;

    justify-content: center;
    align-items: center;
}

vamtiger-cover-figure [slot="caption"] [data-icon] {
    height: 50px;
    width: 50px;
}

vamtiger-cover-figure [slot="caption"] [data-title] {
    grid-area: title;
    font-size: 1.2em;
}

vamtiger-cover-figure [slot="caption"] [data-subtitle] {
    grid-area: subtitle;
    font-size: 0.9em;
}

vamtiger-cover-figure [slot="caption"] [data-title],
vamtiger-cover-figure [slot="caption"] [data-subtitle],
vamtiger-cover-figure [slot="center-caption"]
{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

vamtiger-cover-figure[data-loaded] [slot="dark-overlay"]:first-of-type
{
    background: linear-gradient(
        180deg,rgba(0, 0, 0, 0.7)
        5%,rgba(0, 0, 0, 0.3)
        40%,rgba(0, 0, 0, 0)
        60%,rgba(0, 0, 0, 0)
    );
}

vamtiger-cover-figure[data-loaded] [slot="dark-overlay"]:last-of-type
{
    background: linear-gradient(
        180deg,rgba(0, 0, 0, 0)
        5%,rgba(0, 0, 0, 0)
        40%,rgba(0, 0, 0, 0.3)
        60%,rgba(0, 0, 0, 0.7)
    );
}

vamtiger-cover-figure::before
{
    display: inline-block;
    content: "";
    opacity: 0;
    transition: opacity 335ms linear;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
vamtiger-cover-figure[data-loading]::before
{
    opacity: 1;
    animation: vamtiger-cover-figure-loading 675ms linear alternate infinite;
}

vamtiger-cover-figure[data-loaded]::before
{
    display: none;
}

vamtiger-cover-figure [data-overlay]:first-of-type
{
    animation:
        vamtiger-cover-figure-fade-in 275ms linear forwards,
        vamtiger-cover-figure-show-top-overlay 275ms forwards;
}

vamtiger-cover-figure [data-overlay]:last-of-type
{
    animation:
        vamtiger-cover-figure-fade-in 275ms linear forwards,
        vamtiger-cover-figure-show-bottom-overlay 275ms forwards;
}

vamtiger-cover-figure[data-hide-overlay] [data-overlay]:first-of-type
{
    animation:
        vamtiger-cover-figure-fade-out 275ms linear forwards,
        vamtiger-cover-figure-hide-top-overlay 275ms forwards;
}

vamtiger-cover-figure[data-hide-overlay] [data-overlay]:last-of-type
{
    animation:
        vamtiger-cover-figure-fade-out 275ms linear forwards,
        vamtiger-cover-figure-hide-bottom-overlay 275ms forwards;
}

/* html[data-vamtiger-text-mode]
{
    & vamtiger-cover-figure
    {
        display: none;
    }
} */

@element vamtiger-cover-figure and (max-width: 600px)
{
    :self [slot="caption"]
    {
        grid-row-gap: 0;
        grid-column-gap: 0.5em;

        & [data-icon]
        {
            height: 45px;
            width: 45px;
        }

        & [data-title]
        {
            font-size: 1em;
        }

        & [data-subtitle]
        {
            font-size: 0.8em;
        }
    }
}

@element vamtiger-cover-figure and (max-width: 500px)
{
    :self [slot="caption"]
    {
        padding: 0 0 8px 8px;
        grid-row-gap: 0;
        grid-column-gap: 0.3em;

        & [data-icon]
        {
            height: 40px;
            width: 40px;
        }

        & [data-title]
        {
            font-size: 0.9em;
        }

        & [data-subtitle]
        {
            font-size: 0.8em;
        }
    }
}

@element vamtiger-cover-figure and (max-width: 400px)
{
    :self [slot="caption"]
    {
        padding: 0 0 5px 5px;
        grid-row-gap: 0;
        grid-column-gap: 0.2em;

        & [data-icon]
        {
            height: 35px;
            width: 35px;
        }

        & [data-title]
        {
            font-size: 0.8em;
        }

        & [data-subtitle]
        {
            font-size: 0.7em;
        }
    }
}

@element vamtiger-cover-figure and (max-width: 350px)
{
    :self [slot="caption"]
    {
        padding: 0 0 5px 5px;

        & [data-icon]
        {
            display: none;
        }

        & [data-title]
        {
            font-size: 0.8em;
        }

        & [data-subtitle]
        {
            font-size: 0.7em;
        }
    }
}

@keyframes vamtiger-cover-figure-fade-in {
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes vamtiger-cover-figure-fade-out {
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
    }
}

@keyframes vamtiger-cover-figure-hide-top-overlay {
    from
    {
        top: 0;
    }

    to
    {
        top: -5em;
    }
}

@keyframes vamtiger-cover-figure-hide-bottom-overlay {
    from
    {
        top: 0;
    }

    to
    {
        top: 5em;
    }
}

@keyframes vamtiger-cover-figure-show-top-overlay {
    from
    {
        top: -5em;
    }

    to
    {
        top: 0;
    }
}

@keyframes vamtiger-cover-figure-show-bottom-overlay {
    from
    {
        top: 5em;
    }

    to
    {
        top: 0;
    }
}

@keyframes vamtiger-cover-figure-loading
{
    from
    {
        background-color: rgba(241, 241, 241, 1);
    }
    to
    {
        background-color: rgba(231, 231, 231, 1);
    }
}

@keyframes vamtiger-cover-figure-loading
{
    from
    {
        background-color: rgba(241, 241, 241, 1);
    }
    to
    {
        background-color: rgba(231, 231, 231, 1);
    }
}

@keyframes vamtiger-cover-figure-slide-in
{
    from
    {
        left: -2em;
    }
    to
    {
        left: 0;
    }
}